# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc

camera_pylon/cfg/cpp
camera_pylon/src/camera_pylon
camera_pylon/docs/CameraConfig*
tracking/cfg/cpp
tracking/src/tracking
tracking/docs/TrackingConfig*
